pipeline/Log Datalake Files.json
{
	"name": "Log Datalake Files",
	"properties": {
		"activities": [
			{
				"name": "InsertLogRecord",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Set Init Variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[log].[Files]",
					"storedProcedureParameters": {
						"AdfPipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"Filename": {
							"value": {
								"value": "@pipeline().parameters.Filename",
								"type": "Expression"
							},
							"type": "String"
						},
						"Folder": {
							"value": {
								"value": "@pipeline().parameters.Folder",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SqlDatabase",
					"type": "LinkedServiceReference",
					"parameters": {
						"Secret": {
							"value": "@variables('init')",
							"type": "Expression"
						},
						"KeyvaultName": {
							"value": "@pipeline().globalParameters.keyvault_name",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Set Init Variable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Initialise",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Init",
					"value": {
						"value": "@activity('Initialise').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Initialise",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://',pipeline().globalParameters.keyvault_name,'.vault.azure.net/secrets/init/?api-version=7.0' )",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "IR-NNDAP",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			}
		],
		"parameters": {
			"Folder": {
				"type": "string",
				"defaultValue": "test"
			},
			"Filename": {
				"type": "string",
				"defaultValue": "file"
			}
		},
		"variables": {
			"Init": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Control"
		},
		"annotations": [],
		"lastPublishTime": "2019-12-13T14:58:48Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}