pipeline/Oracle Extraction.json
{
	"name": "Oracle Extraction",
	"properties": {
		"activities": [
			{
				"name": "Get DB Source Metadata",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set Init Variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT\tds.KeyVaultName\n\t\t,td.[Schema] as SourceSchema\n                ,td.TableName as TableName\n\t\t,td.tableDefinitionID AS tableDefinitionID\n                ,td.WatermarkAttribute AS WatermarkAttribute\n                ,td.WatermarkAttributeDataType as WatermarkAttributeDataType\n\t\t,snk.Container\t\t\tAS Container\n                ,snk.BaseUrlSecret\t\tAS SinkBaseUrlSecret\n\t\t,fdsnk.SinkDirectory\t        AS Directory\n\t\t,fdsnk.SinkFileName\t\tAS [FileName]\n                ,m.MappingID\n\nFROM config.Mapping AS m\nINNER JOIN config.Connections AS src\n\t\tON m.SourceConnectionId = src.ConnectionId\n\t\tAND m.FlowId = @{pipeline().parameters.FlowId}\n\t\tAND src.ConnectionType = 'Database'\n\t\tAND m.IsActive = 1\nINNER JOIN config.TableDefinition AS td\n\t\tON m.SourceTableDefinitionId = td.TableDefinitionId\nINNER JOIN config.Connections AS snk\n\t\tON m.SinkConnectionId = snk.ConnectionId\n\t\tAND m.FlowId = @{pipeline().parameters.FlowId}\n\t\tAND m.IsActive = 1\nINNER JOIN [config].[FileDefinition] AS fdsnk\t\t-- File is sink\n\t\tON m.SinkFileDefinitionId = fdsnk.FileDefinitionId\nLEFT JOIN [config].[DAPServices] AS ds\n\t\tON 1=1",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Metadata",
						"type": "DatasetReference",
						"parameters": {
							"SecretName": {
								"value": "@variables('init')",
								"type": "Expression"
							},
							"KeyvaultName": {
								"value": "@pipeline().globalParameters.keyvault_name",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "For Each DB Source",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get DB Source Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get DB Source Metadata').output.value\n",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Lookup Table Columns",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "If New Metadata Changes",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "select  STRING_AGG(\n \n    '\"'+cast(ColumnName as varchar(max))+'\"'\n,',') as ColumnMappings\n from [config].[ColumnDefinition] as CD\nwhere CD.TableDefinitionId = @{item().TableDefinitionId}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "Metadata",
									"type": "DatasetReference",
									"parameters": {
										"SecretName": {
											"value": "@variables('init')",
											"type": "Expression"
										},
										"KeyvaultName": {
											"value": "@pipeline().globalParameters.keyvault_name",
											"type": "Expression"
										}
									}
								}
							}
						},
						{
							"name": "SinkBaseUrl",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@concat('https://',item().KeyVaultName,'.vault.azure.net/secrets/',item().SinkBaseUrlSecret,'/?api-version=7.0')",
									"type": "Expression"
								},
								"connectVia": {
									"referenceName": "IR-NNDAP",
									"type": "IntegrationRuntimeReference"
								},
								"method": "GET",
								"authentication": {
									"type": "MSI",
									"resource": "https://vault.azure.net"
								}
							}
						},
						{
							"name": "Lookup Old Watermark Value",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT CASE\n WHEN EXISTS (\n   SELECT 1 from [process].[Watermarks]\n   WHERE [MappingID] = @{item().MappingID}\n  )\n  THEN (\n    SELECT [CurrentWatermarkValue] from [process].[Watermarks]\n    WHERE [MappingID] = @{item().MappingID}\n  )\n  ELSE NULL\nEND as [CurrentWatermarkValue]",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "Metadata",
									"type": "DatasetReference",
									"parameters": {
										"SecretName": {
											"value": "@variables('init')",
											"type": "Expression"
										},
										"KeyvaultName": {
											"value": "@pipeline().globalParameters.keyvault_name",
											"type": "Expression"
										}
									}
								}
							}
						},
						{
							"name": "Lookup New Watermark Value",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "OracleSource",
									"oracleReaderQuery": {
										"value": "select max (@{item().WatermarkAttribute}) as NewWatermarkValue\nfrom @{concat(item().SourceSchema,'.',item().TableName)}",
										"type": "Expression"
									},
									"partitionOption": "None",
									"queryTimeout": "02:00:00"
								},
								"dataset": {
									"referenceName": "OracleSource",
									"type": "DatasetReference",
									"parameters": {
										"KeyvaultName": {
											"value": "@pipeline().globalParameters.keyvault_name",
											"type": "Expression"
										}
									}
								}
							}
						},
						{
							"name": "Log Parameters",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "IfOldWatermarkEmpty",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[log].[Parameters]",
								"storedProcedureParameters": {
									"output_JSON": {
										"value": {
											"value": "@concat('{','\"KeyVaultName\":\"',item().KeyVaultName,'\",','\"SourceSchema\":\"',item().SourceSchema,'\",','\"TableName\":\"',item().TableName,'\",','\"tableDefinitionID\":\"',item().tableDefinitionID,'\",','\"Container\":\"',item().Container,'\",','\"Directory\":\"',item().Directory,'\",','\"FileName\":\"',item().FileName,'\",','\"WatermarkAttribute\":\"',item().WatermarkAttribute,'\",','\"SinkBaseUrlSecret\":\"',item().SinkBaseUrlSecret,'\"}')",
											"type": "Expression"
										},
										"type": "String"
									},
									"RunId": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_SqlDatabase",
								"type": "LinkedServiceReference",
								"parameters": {
									"Secret": {
										"value": "@variables('init')",
										"type": "Expression"
									},
									"KeyvaultName": {
										"value": "@pipeline().globalParameters.keyvault_name",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Update Watermark",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "IfOldWatermarkEmpty",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[config].[WriteWatermark]",
								"storedProcedureParameters": {
									"CurrentWatermarkValue": {
										"value": {
											"value": "@{activity('Lookup Old Watermark Value').output.firstRow.CurrentWatermarkValue}\n",
											"type": "Expression"
										},
										"type": "String"
									},
									"NewWatermarkValue": {
										"value": {
											"value": "@{activity('Lookup New Watermark Value').output.firstRow.NewWatermarkvalue}",
											"type": "Expression"
										},
										"type": "String"
									},
									"MappingID": {
										"value": {
											"value": "@{item().MappingID}",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"WatermarkProcessedDate": {
										"value": {
											"value": "@{utcnow()}\n",
											"type": "Expression"
										},
										"type": "DateTime"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_SqlDatabase",
								"type": "LinkedServiceReference",
								"parameters": {
									"Secret": {
										"value": "@variables('init')",
										"type": "Expression"
									},
									"KeyvaultName": {
										"value": "@pipeline().globalParameters.keyvault_name",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Lookup ADF Mapping for Table",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "If New Metadata Changes",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "select AdfColumnMapping from config.mapping where SourceTableDefinitionId = @{item().TableDefinitionID} ",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "Metadata",
									"type": "DatasetReference",
									"parameters": {
										"SecretName": {
											"value": "@variables('init')",
											"type": "Expression"
										},
										"KeyvaultName": {
											"value": "@pipeline().globalParameters.keyvault_name",
											"type": "Expression"
										}
									}
								}
							}
						},
						{
							"name": "Lookup New Change Timestamp",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "OracleSource",
									"oracleReaderQuery": {
										"value": "select CASE WHEN EXISTS (select LAST_DDL_TIME FROM  all_objects\nwhere OBJECT_TYPE = 'TABLE'\nand OWNER = '@{item().Sourceschema}'\nand OBJECT_NAME = '@{item().TableName}') THEN LAST_DDL_TIME\nELSE TO_DATE('01-JAN-1990') \nEND as modify_date\nfrom  all_objects\nwhere rownum = 1",
										"type": "Expression"
									},
									"partitionOption": "None",
									"queryTimeout": "02:00:00"
								},
								"dataset": {
									"referenceName": "OracleSource",
									"type": "DatasetReference",
									"parameters": {
										"KeyvaultName": {
											"value": "@pipeline().globalParameters.keyvault_name",
											"type": "Expression"
										}
									}
								}
							}
						},
						{
							"name": "Lookup Old Change Timestamp",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "select LastChangeTimestamp from [process].[MetadataChanges] \nwhere TableDefinitionID = @{item().TableDefinitionID}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "Metadata",
									"type": "DatasetReference",
									"parameters": {
										"SecretName": {
											"value": "@variables('init')",
											"type": "Expression"
										},
										"KeyvaultName": {
											"value": "@pipeline().globalParameters.keyvault_name",
											"type": "Expression"
										}
									}
								}
							}
						},
						{
							"name": "If New Metadata Changes",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Lookup Old Change Timestamp",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Lookup New Change Timestamp",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(ticks(activity('Lookup New Change Timestamp').output.firstRow.modify_date), ticks(activity('Lookup Old Change Timestamp').output.firstRow.LastChangeTimestamp))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Update metadata change time",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Set ADF Column Mapping",
												"dependencyConditions": [
													"Succeeded"
												]
											},
											{
												"activity": "Update Derived Columns",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[config].[WriteLastMetadataChangeTime]",
											"storedProcedureParameters": {
												"LastChangeTimestamp": {
													"value": {
														"value": "@activity('Lookup New Change Timestamp').output.firstRow.modify_date",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"TableDefinitionID": {
													"value": {
														"value": "@{item().TableDefinitionID}",
														"type": "Expression"
													},
													"type": "Int32"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "LS_SqlDatabase",
											"type": "LinkedServiceReference",
											"parameters": {
												"Secret": {
													"value": "@variables('init')",
													"type": "Expression"
												},
												"KeyvaultName": {
													"value": "@pipeline().globalParameters.keyvault_name",
													"type": "Expression"
												}
											}
										}
									},
									{
										"name": "Capture Metadata Changes",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "OracleSource",
												"oracleReaderQuery": {
													"value": "SELECT atc.COLUMN_NAME as ColumnName, \natc.TABLE_NAME as TableName,\nnull as FileDefinitionId,\nnull  as APIDefinitionId,  \natc.COLUMN_ID as OrdinalPosition, \natc.NULLABLE as isNullable, \natc.DATA_TYPE as DataType,  \natc.CHAR_LENGTH as CharacterMaximumLength, \natc.DATA_PRECISION as NumericPrecision, \natc.DATA_SCALE as NumericScale ,\nnull AS DatetimePrecision, \nCASE WHEN acc.column_name is not null THEN 1\nELSE 0\nEND AS IsPrimairyKey, \n1 AS Version, \n0 AS IsAnonymous \nFROM all_tab_columns  atc\nleft join \n  (\nSELECT cols.table_name as TABLE_NAME, cols.column_name as COLUMN_NAME \nFROM all_constraints cons, all_cons_columns cols\nWHERE cons.constraint_type = 'P'\nAND cons.constraint_name = cols.constraint_name) acc \nON atc.COLUMN_NAME=acc.COLUMN_NAME and atc.TABLE_NAME=acc.TABLE_NAME \n-- 'XDB$XTAB' --\nWHERE  atc.table_name =  @{concat('''',item().TableName,'''')}; \n",
													"type": "Expression"
												},
												"partitionOption": "None",
												"queryTimeout": "02:00:00"
											},
											"sink": {
												"type": "AzureSqlSink",
												"sqlWriterStoredProcedureName": "[log].[WriteColumnDefinition]",
												"sqlWriterTableType": "log.DataTypeforColumnDefinitionTable",
												"storedProcedureTableTypeParameterName": "NewColumnDefinition"
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"source": {
															"name": "COLUMNNAME",
															"type": "String"
														},
														"sink": {
															"name": "ColumnName",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"name": "TABLENAME",
															"type": "String"
														},
														"sink": {
															"name": "TableName",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"name": "FILEDEFINITIONID",
															"type": "String"
														},
														"sink": {
															"name": "FileDefinitionId",
															"type": "Int32",
															"physicalType": "int"
														}
													},
													{
														"source": {
															"name": "APIDEFINITIONID",
															"type": "String"
														},
														"sink": {
															"name": "ApiDefinitionId",
															"type": "Int32",
															"physicalType": "int"
														}
													},
													{
														"source": {
															"name": "ORDINALPOSITION",
															"type": "Double"
														},
														"sink": {
															"name": "OrdinalPosition",
															"type": "Int32",
															"physicalType": "int"
														}
													},
													{
														"source": {
															"name": "ISNULLABLE",
															"type": "String"
														},
														"sink": {
															"name": "IsNullable",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"name": "DATATYPE",
															"type": "String"
														},
														"sink": {
															"name": "DataType",
															"type": "String",
															"physicalType": "varchar"
														}
													},
													{
														"source": {
															"name": "CHARACTERMAXIMUMLENGTH",
															"type": "Double"
														},
														"sink": {
															"name": "CharacterMaximumLength",
															"type": "Int32",
															"physicalType": "int"
														}
													},
													{
														"source": {
															"name": "NUMERICPRECISION",
															"type": "Double"
														},
														"sink": {
															"name": "NumericPrecision",
															"type": "Int32",
															"physicalType": "int"
														}
													},
													{
														"source": {
															"name": "NUMERICSCALE",
															"type": "Double"
														},
														"sink": {
															"name": "NumericScale",
															"type": "Int32",
															"physicalType": "int"
														}
													},
													{
														"source": {
															"name": "DATETIMEPRECISION",
															"type": "String"
														},
														"sink": {
															"name": "DatetimePrecision",
															"type": "Int16",
															"physicalType": "smallint"
														}
													},
													{
														"source": {
															"name": "ISPRIMAIRYKEY",
															"type": "Double"
														},
														"sink": {
															"name": "IsPrimairyKey",
															"type": "Int32",
															"physicalType": "int"
														}
													},
													{
														"source": {
															"name": "VERSION",
															"type": "Double"
														},
														"sink": {
															"name": "Version",
															"type": "Int32",
															"physicalType": "int"
														}
													},
													{
														"source": {
															"name": "ISANONYMOUS",
															"type": "Double"
														},
														"sink": {
															"name": "IsAnonymous",
															"type": "Int32",
															"physicalType": "int"
														}
													}
												],
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "OracleSource",
												"type": "DatasetReference",
												"parameters": {
													"KeyvaultName": {
														"value": "@pipeline().globalParameters.keyvault_name",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "Metadata",
												"type": "DatasetReference",
												"parameters": {
													"SecretName": {
														"value": "@variables('init')",
														"type": "Expression"
													},
													"KeyvaultName": {
														"value": "@pipeline().globalParameters.keyvault_name",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "Update Derived Columns",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Capture Metadata Changes",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[config].[UpdateDerivedColumnsMetadata]",
											"storedProcedureParameters": {
												"TableDefinitionID": {
													"value": {
														"value": "@{item().TableDefinitionID}",
														"type": "Expression"
													},
													"type": "Int32"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "LS_SqlDatabase",
											"type": "LinkedServiceReference",
											"parameters": {
												"Secret": {
													"value": "@variables('init')",
													"type": "Expression"
												},
												"KeyvaultName": {
													"value": "@pipeline().globalParameters.keyvault_name",
													"type": "Expression"
												}
											}
										}
									},
									{
										"name": "Set ADF Column Mapping",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Capture Metadata Changes",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[config].[SetAdfMapping]",
											"storedProcedureParameters": {
												"DefinitionID": {
													"value": {
														"value": "@{item().TableDefinitionID}",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"Type": {
													"value": "table",
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "LS_SqlDatabase",
											"type": "LinkedServiceReference",
											"parameters": {
												"Secret": {
													"value": "@variables('init')",
													"type": "Expression"
												},
												"KeyvaultName": {
													"value": "@pipeline().globalParameters.keyvault_name",
													"type": "Expression"
												}
											}
										}
									}
								]
							}
						},
						{
							"name": "IfOldWatermarkEmpty",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Lookup Old Watermark Value",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Lookup New Watermark Value",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "SinkBaseUrl",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Lookup ADF Mapping for Table",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Lookup Table Columns",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@bool(empty(activity('Lookup Old Watermark Value').output.firstrow.CurrentWatermarkValue))",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Ingest Oracle data_old",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "OracleSource",
												"oracleReaderQuery": {
													"value": "@concat('select', \n  activity('Lookup Table Columns').output.firstRow.ColumnMappings, \n  'from ', item().SourceSchema,'.',item().TableName, \n  ' where  ', \n  item().WatermarkAttribute, ' > ', if(contains(item().WatermarkAttributeDataType, 'date'),concat('to_date(','''',replace(activity('Lookup Old Watermark Value').output.firstRow.CurrentWatermarkValue,'T',' '),'''',',''yyyy-mm-dd HH24:MI:SS'')'),\n  activity('Lookup Old Watermark Value').output.firstRow.CurrentWatermarkValue), \n' and ',\nitem().WatermarkAttribute, ' <= ', if(contains(item().WatermarkAttributeDataType, 'date'),concat('to_date(','''',replace(activity('Lookup New Watermark Value').output.firstRow.NewWatermarkvalue,'T',' '),\n'''',',''yyyy-mm-dd HH24:MI:SS'')'),activity('Lookup New Watermark Value').output.firstRow.NewWatermarkvalue))\n",
													"type": "Expression"
												},
												"partitionOption": "None",
												"queryTimeout": "02:00:00"
											},
											"sink": {
												"type": "ParquetSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "ParquetWriteSettings"
												}
											},
											"enableStaging": false,
											"parallelCopies": 1,
											"dataIntegrationUnits": 2,
											"translator": {
												"value": "@json(activity('Lookup ADF Mapping for Table').output.firstrow.AdfColumnMapping)",
												"type": "Expression"
											}
										},
										"inputs": [
											{
												"referenceName": "OracleSource",
												"type": "DatasetReference",
												"parameters": {
													"KeyvaultName": {
														"value": "@pipeline().globalParameters.keyvault_name",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "DataLake",
												"type": "DatasetReference",
												"parameters": {
													"FileSystem": {
														"value": "@item().Container",
														"type": "Expression"
													},
													"Directory": {
														"value": "@concat(item().Directory, '/', formatDateTime(utcnow(), 'yyyy'), '/',formatDateTime(utcnow(), 'MM'))",
														"type": "Expression"
													},
													"FileName": {
														"value": "@concat(item().FileName,utcnow(),'.parquet')\n",
														"type": "Expression"
													},
													"BaseUrl": {
														"value": "@activity('SinkBaseUrl').output.value",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "Log Pipeline Run_old",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "Ingest Oracle data_old",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "SELECT '@{pipeline().DataFactory}' as DataFactoryName,\n'@{pipeline().Pipeline}' as PipelineName,\n'@{pipeline().RunId}' as PipelineRunId,\n--'@{activity('Ingest Oracle data').output.executionDetails[0].profile.transfer.details.readingFromSource.type}' as Source,\n'@{concat(item().SourceSchema,'.',item().TableName)}' as Source,\n'@{activity('Ingest Oracle data').output.executionDetails[0].source.type}' as SourceType,\n--'@{activity('Ingest Oracle data').output.executionDetails[0].profile.transfer.details.writingToSink.type}' as Sink,\n'@{concat(item().Directory,'.',item().FileName)}' as Sink,\n'@{activity('Ingest Oracle data').output.executionDetails[0].sink.type}' as SinkType,\n'@{pipeline().TriggerType}' as TriggerType,\n'@{pipeline().TriggerId}' as TriggerId,\n'@{pipeline().TriggerName}' as TriggerName,\n'@{pipeline().TriggerTime}' as TriggerTime,\n'@{activity('Ingest Oracle data').output.rowsRead}' as RowsRead,\n'@{activity('Ingest Oracle data').output.rowsCopied}' as RowsCopied,\n'@{activity('Ingest Oracle data').output.copyDuration}' as CopyDurationinsecs,\n'@{activity('Ingest Oracle data').output.executionDetails[0].status}' as ExecutionStatus,\n'@{activity('Ingest Oracle data').output.usedParallelCopies}' as NoParallelCopies,\n'@{activity('Ingest Oracle data').output.effectiveIntegrationRuntime}' as EffectiveIntegrationRuntime,\n'@{activity('Ingest Oracle data').output.executionDetails[0].start}' as CopyActivityStartTime,\n'@{utcnow()}' as CopyActivityEndTime,\n'@{activity('Ingest Oracle data').output.executionDetails[0].detailedDurations.queuingDuration}' as CopyActivityqueuingDurationinsecs,\n'@{activity('Ingest Oracle data').output.executionDetails[0].detailedDurations.timeToFirstByte}' as CopyActivitytimeToFirstByteinsecs,\n'@{activity('Ingest Oracle data').output.executionDetails[0].detailedDurations.transferDuration}' as CopyActivitytransferDurationinsecs\n-- '@{activity('Ingest Oracle data').output.billingreference}' as billingreference",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "AzureSqlSink",
												"writeBehavior": "insert"
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "Metadata",
												"type": "DatasetReference",
												"parameters": {
													"SecretName": {
														"value": "@variables('init')",
														"type": "Expression"
													},
													"KeyvaultName": {
														"value": "@pipeline().globalParameters.keyvault_name",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "SQLSink",
												"type": "DatasetReference",
												"parameters": {
													"SinkTableName": "PipelinesLogs",
													"SinkTableSchema": "log",
													"KeyvaultName": {
														"value": "@pipeline().globalParameters.keyvault_name",
														"type": "Expression"
													}
												}
											}
										]
									}
								],
								"ifTrueActivities": [
									{
										"name": "Ingest Oracle data_new",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "OracleSource",
												"oracleReaderQuery": {
													"value": "@concat('select', \n  activity('Lookup Table Columns').output.firstRow.ColumnMappings, \n  'from ', item().SourceSchema,'.',item().TableName, \n  ' where  ', \n  item().WatermarkAttribute, ' <= ', if(contains(item().WatermarkAttributeDataType, 'date'),concat('to_date(','''',replace(activity('Lookup New Watermark Value').output.firstRow.NewWatermarkvalue,'T',' '),\n  '''',',''yyyy-mm-dd HH24:MI:SS'')'),activity('Lookup New Watermark Value').output.firstRow.NewWatermarkvalue))",
													"type": "Expression"
												},
												"partitionOption": "None",
												"queryTimeout": "02:00:00"
											},
											"sink": {
												"type": "ParquetSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "ParquetWriteSettings"
												}
											},
											"enableStaging": false,
											"parallelCopies": 1,
											"dataIntegrationUnits": 2,
											"translator": {
												"value": "@json(activity('Lookup ADF Mapping for Table').output.firstrow.AdfColumnMapping)",
												"type": "Expression"
											}
										},
										"inputs": [
											{
												"referenceName": "OracleSource",
												"type": "DatasetReference",
												"parameters": {
													"KeyvaultName": {
														"value": "@pipeline().globalParameters.keyvault_name",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "DataLake",
												"type": "DatasetReference",
												"parameters": {
													"FileSystem": {
														"value": "@item().Container",
														"type": "Expression"
													},
													"Directory": {
														"value": "@concat(item().Directory, '/', formatDateTime(utcnow(), 'yyyy'), '/',formatDateTime(utcnow(), 'MM'))",
														"type": "Expression"
													},
													"FileName": {
														"value": "@concat(item().FileName,utcnow(),'.parquet')\n",
														"type": "Expression"
													},
													"BaseUrl": {
														"value": "@activity('SinkBaseUrl').output.value",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "Log Pipeline Run",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "Ingest Oracle data_new",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "SELECT '@{pipeline().DataFactory}' as DataFactoryName,\n'@{pipeline().Pipeline}' as PipelineName,\n'@{pipeline().RunId}' as PipelineRunId,\n--'@{activity('Ingest Oracle data').output.executionDetails[0].profile.transfer.details.readingFromSource.type}' as Source,\n'@{concat(item().SourceSchema,'.',item().TableName)}' as Source,\n'@{activity('Ingest Oracle data').output.executionDetails[0].source.type}' as SourceType,\n--'@{activity('Ingest Oracle data').output.executionDetails[0].profile.transfer.details.writingToSink.type}' as Sink,\n'@{concat(item().Directory,'.',item().FileName)}' as Sink,\n'@{activity('Ingest Oracle data').output.executionDetails[0].sink.type}' as SinkType,\n'@{pipeline().TriggerType}' as TriggerType,\n'@{pipeline().TriggerId}' as TriggerId,\n'@{pipeline().TriggerName}' as TriggerName,\n'@{pipeline().TriggerTime}' as TriggerTime,\n'@{activity('Ingest Oracle data').output.rowsRead}' as RowsRead,\n'@{activity('Ingest Oracle data').output.rowsCopied}' as RowsCopied,\n'@{activity('Ingest Oracle data').output.copyDuration}' as CopyDurationinsecs,\n'@{activity('Ingest Oracle data').output.executionDetails[0].status}' as ExecutionStatus,\n'@{activity('Ingest Oracle data').output.usedParallelCopies}' as NoParallelCopies,\n'@{activity('Ingest Oracle data').output.effectiveIntegrationRuntime}' as EffectiveIntegrationRuntime,\n'@{activity('Ingest Oracle data').output.executionDetails[0].start}' as CopyActivityStartTime,\n'@{utcnow()}' as CopyActivityEndTime,\n'@{activity('Ingest Oracle data').output.executionDetails[0].detailedDurations.queuingDuration}' as CopyActivityqueuingDurationinsecs,\n'@{activity('Ingest Oracle data').output.executionDetails[0].detailedDurations.timeToFirstByte}' as CopyActivitytimeToFirstByteinsecs,\n'@{activity('Ingest Oracle data').output.executionDetails[0].detailedDurations.transferDuration}' as CopyActivitytransferDurationinsecs\n-- '@{activity('Ingest Oracle data').output.billingreference}' as billingreference",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "AzureSqlSink",
												"writeBehavior": "insert"
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "Metadata",
												"type": "DatasetReference",
												"parameters": {
													"SecretName": {
														"value": "@variables('init')",
														"type": "Expression"
													},
													"KeyvaultName": {
														"value": "@pipeline().globalParameters.keyvault_name",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "SQLSink",
												"type": "DatasetReference",
												"parameters": {
													"SinkTableName": "PipelinesLogs",
													"SinkTableSchema": "log",
													"KeyvaultName": {
														"value": "@pipeline().globalParameters.keyvault_name",
														"type": "Expression"
													}
												}
											}
										]
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Set Init Variable",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "init",
					"value": {
						"value": "@pipeline().parameters.Init",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"FlowId": {
				"type": "string",
				"defaultValue": "7"
			},
			"PipelineName": {
				"type": "string",
				"defaultValue": "Oracle Extraction"
			},
			"Init": {
				"type": "string",
				"defaultValue": "sql-nndap-metadata"
			}
		},
		"variables": {
			"init": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Data Extraction Component"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}